:root {
  --bg: rgba(242, 232, 223, 1);
  --fg: rgba(247, 248, 250, 1);
  --highlight: rgba(242, 177, 98, 1);
  --green: rgba(133, 165, 156, 1);
  --brown: rgba(242, 198, 193, 1);
  --salmon: rgba(242, 133, 133, 1);
  --font-size: 1.3rem;
  --mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --sans: Tahoma, Verdana, Segoe, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--bg);
  color: var(--fg);
  font-size: var(--font-size);
}
h1, h2, h3 {
  margin: 0;
}
img {
  width: 100%;
}

.section-brown {
  background-color: var(--brown);
}

#introduction {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#introduction p {
  font-size: 1rem;
  line-height: 1.5; /* it’s a proportion; leave off units of measure */
}
#introduction .name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--green);
  display: block;
}
#introduction h2 {
  font-size: 4rem;
  font-weight: normal;
}

#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--green);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
#projects article p {
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 2px solid var(--highlight);
  border-top: 2px solid var(--highlight);
  border-radius: 25px;
  padding: 1rem;
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%; /* flex: 0 0 100%; is also valid code */
}
nav a {
  color: var(--bg);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: var(--salmon);
}

footer {
  text-align: center;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto; /* centers content nicely on the page */
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .text {
    order: 1;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
}
